<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/assets/icons/icons.css">
    <!--IndieWeb-->
    <link rel="me" href="mailto:tim@timculverhouse.com">
    <link rel="me" href="https://github.com/rockorager">
    <link rel="me" href="https://micro.blog/tculverhouse">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="webmention" href="https://webmention.io/timculverhouse.com/webmention">
    <link rel="microsub" href="https://aperture.p3k.io/microsub/643">
    <link rel="micropub" href="https://micropubendpoint.herokuapp.com/micropub/main">
  </head>

  <body>
    <header>
      <nav>
        <span class="h-card">
          <a class="u-url u-uid" href="https://timculverhouse.com" title="Tim Culverhouse">
            <img src="/assets/img/tim.jpeg" alt="Tim Culverhouse" class="avatar u-photo">
          </a>
          <p hidden class="p-name">Tim Culverhouse</p>
          <p hidden class="p-note">Married, father of three. Lifelong learner on a constant path of self-improvement. Builder of all things digital and physical. Minnesotan and proud of it.</p>
          <p hidden class="p-locality">St. Paul, MN</p>
        </span>
        <a href="/posts" title="Posts">Posts</a>
        <a href="/feed.xml" title="RSS">RSS</a>
        </nav>
    </header>
    <hr>
    <main>