<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css">
    <!--Indieweb-->
    <link rel="webmention" href="https://webmention.io/timculverhouse.com/webmention" />
  </head>

  <body>
    <header>
      <a href="/"><img src="/assets/img/tim.jpeg" alt="Home" class="avatar"></a>
      <a href="/">Home</a>
      <a href="/feed">Feed</a>
    </header>
    <hr>