---
layout: base
permalink: "/{{ type | pluralize }}/{{ page.date | date: '%Y-%m-%d' }}-{{ page.fileSlug }}.html"
---
<main>
    <article class="h-entry">
    {% include partials/h-card.html %}
    {% include partials/time.html %}
    {% case category %}
        {% when "replies" %}
            {% include partials/context-reply.html %}
        {% when "reposts" %}
            {% include partials/context-repost.html %}
        {% when "bookmarks" %}
            {% include partials/context-bookmark.html %}
    {% endcase %}
        <div class="e-content">{{ content }}</div>
    </article>
    
{% include partials/webmentions.html %}
</main>