{% include head.html %}
    <article class="h-entry">
        <a hidden class="h-card p-author" href="https://www.timculverhouse.com"><img src="/assets/img/tim.jpeg" alt="Tim Culverhouse">Tim Culverhouse</a>
        {% if page.updated != "" %}    
            <time class="dt-published" datetime="{{page.updated | date_to_xmlschema}}">Updated {{ page.updated | date: "%a %b %d, %Y" }}</time>
            <br>
            <time class="dt-published" datetime="{{page.date | date_to_xmlschema}}">Originally published {{ page.date | date: "%a %b %d, %Y" }}</time>
        {% else %}
            <time class="dt-published" datetime="{{page.date | date_to_xmlschema}}">{{ page.date | date: "%a %b %d, %Y" }}</time>
        {% endif %}
    <div class="p-name e-content">{{ content }}</div>
    </article>

    
{% include webmentions.html %}
{% include foot.html %}