{% include head.html %}
    <article class="h-entry">
    {% include h-card.html %}
    {% include time.html %}
    {% case page.category %}
        {% when "replies" %}
            {% include context-reply.html %}
        {% when "reposts" %}
            {% include context-repost.html %}
        {% when "bookmarks" %}
            {% include context-bookmark.html %}
    {% endcase %}
        <div class="e-content">{{ content }}</div>
    </article>

    
{% include webmentions.html %}
{% include foot.html %}