{% include head.html %}
  {% if page.tag %}    
    {% assign filtered_posts = site.posts | where: "category", page.tag %}
  {% else %}
     {% assign filtered_posts = site.posts %}
  {% endif %}

  {% for post in filtered_posts %}
    {% assign full_url = site.url | append: post.url %}
    {% assign reactions = site.data.webmentions.links | where: "target", full_url %}

    <article class="h-entry">
            {% if post.category == "articles" %}
              <h2 class="p-name">{{post.title}}</h2>
              <time class="dt-published" datetime="{{post.date}}"><a href="{{ post.url }}" class="u-url">{{ post.date | date: "%a %b %d, %Y" }}</a></time>
              <a hidden class="h-card p-author" href="https://www.timculverhouse.com"><img src="/assets/img/tim.jpeg" alt="Tim Culverhouse">Tim Culverhouse</a>
              <section class="e-content">{{post.excerpt}} 
                <p>(<a href="{{ post.url }}" class="u-url">read more</a>)</p></section>
            {% else %}
            <time class="dt-published" datetime="{{post.date}}"><a href="{{ post.url }}" class="u-url">{{ post.date | date: "%a %b %d, %Y" }}</a></time>
            <a hidden class="h-card p-author" href="https://www.timculverhouse.com"><img src="/assets/img/tim.jpeg" alt="Tim Culverhouse">Tim Culverhouse</a>
              <section class="e-content">{{ post.content}}</section>
            {% endif %}
            {% if reactions.size >0 %}
            <p class="reactions">{{ reactions.size }} Reactions</p>
            {% endif %}
          </article>
            {% endfor %}

{% include foot.html %}