{% include head.html %}
{% if page.tag %}
    {% assign filtered_posts = site.posts | where: "category", page.tag %}
{% else %}
    {% assign filtered_posts = site.posts %}
{% endif %}

{% for post in filtered_posts %}
    {% assign full_url = "https://timculverhouse.com" | append: post.url %}
    {% assign reactions = site.data.webmentions.links | where: "target", full_url %}

    <article class="h-entry">
        <time class="dt-published" datetime="{{post.date}}">
            <a href="{{ post.url }}" class="u-url">{{ post.date | date: "%a %b %d, %Y" }}</a>
        </time>
        {% include h-card.html %}
        {% case post.category %}
            {% when "articles" %}
                <h2 class="p-name">{{post.title}}</h2>
                <section class="e-content">{{post.excerpt}}
                    <p>(<a href="{{ post.url }}" class="u-url">read more</a>)</p>
                </section>

            {% when "replies" %}
                <section class="link-context">
                    ↩<em> Replying to <a class="u-in-reply-to" href="{{ post.link }}">{{ post.linktitle }}</a></em>
                </section>
                <section class="e-content">{{ post.content}}</section>
            {% when "reposts" %}
                <section class="link-context">
                    🔁<em> Repost of <a class="u-repost-of" href="{{ post.link }}">{{ post.linktitle }}</a></em>
                </section>
                <section class="e-content">{{ post.content}}</section>
            {% when "bookmarks" %}
                <section class="link-context">
                    🔖<em> Bookmark of <a class="u-bookmark-of" href="{{ post.link }}">{{ post.linktitle }}</a></em>
                </section>
                <section class="e-content">{{ post.content}}</section>
            {% else %}
            <section class="e-content">{{ post.content}}</section>
        {% endcase %}
        

        {% if reactions.size >0 %}
            <p class="reactions">{{ reactions.size }}
                Reactions</p>
        {% endif %}
    </article>
{% endfor %}

{% include foot.html %}